#editor blockquote footer[data-wp-placeholder] {
  display: none; }

#editor blockquote[data-wp-block-selected] footer[data-wp-placeholder] {
  display: block; }
#editor figure[data-wp-block-type="wp:gallery"] {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: auto; }

#editor figure[data-wp-block-type="wp:gallery"].aligncenter {
  margin-left: auto;
  margin-right: auto; }

#editor figure[data-wp-block-type="wp:gallery"].alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
  width: 50%; }

#editor figure[data-wp-block-type="wp:gallery"].alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
  width: 50%; }

#editor figure[data-wp-block-type="wp:gallery"].alignleft,
#editor figure[data-wp-block-type="wp:gallery"].alignright {
  clear: none; }

#editor figure[data-wp-block-type="wp:gallery"] figure {
  margin: 0; }

#editor figure[data-wp-block-type="wp:gallery"][data-wp-block-setting-column="2"] figure {
  width: 49%; }

#editor figure[data-wp-block-type="wp:gallery"][data-wp-block-setting-column="3"] figure {
  width: 32%; }

#editor figure[data-wp-block-type="wp:gallery"][data-wp-block-setting-column="4"] figure {
  width: 24%; }
#editor section[data-wp-block-type="my-awesome-plugin:custom-blue-box"] {
  background: #4c96c6;
  color: #fff;
  margin: 1em 0;
  overflow: hidden;
  padding: 0 1em; }
#editor blockquote[data-wp-block-type="my-awesome-plugin:special-blockquote"] {
  border: none;
  padding: 0; }
#editor figure[data-wp-block-type="wp:embed"] {
  position: relative;
  overflow: hidden; }

/* Should probably be handled internally. */
#editor figure[data-wp-block-type="wp:embed"]:before {
  content: '';
  display: block;
  position: absolute; }

#editor figure[data-wp-block-type="wp:embed"][data-mce-selected]:before {
  display: none; }

#editor figure[data-wp-block-type="wp:embed"]:before,
#editor figure[data-wp-block-type="wp:embed"] iframe {
  width: 750px;
  height: 422px; }

#editor figure[data-wp-block-type="wp:embed"].alignleft:before,
#editor figure[data-wp-block-type="wp:embed"].alignright:before,
#editor figure[data-wp-block-type="wp:embed"].alignleft iframe,
#editor figure[data-wp-block-type="wp:embed"].alignright iframe {
  width: 375px;
  height: 211px; }

#editor figure[data-wp-block-type="wp:embed"].alignfull:before,
#editor figure[data-wp-block-type="wp:embed"].alignfull iframe {
  width: 950px;
  height: 534px; }
@charset "UTF-8";
/**
 * Basic
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  font: 13px/1.8 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  max-width: 820px;
  margin: 60px auto;
  color: #12181e; }

*[contenteditable] {
  outline: none; }

/**
 * Editor Basics
 */
#editor {
  font-family: "Noto Serif", serif;
  font-size: 16px;
  padding: 50px; }

#editor .text-align-left {
  text-align: left; }

#editor .text-align-center {
  text-align: center; }

#editor .text-align-right {
  text-align: right; }

#editor a {
  color: inherit; }

#editor iframe {
  max-width: 100%;
  border: 0; }

#editor img {
  max-width: 100%;
  height: auto; }

#editor svg {
  fill: currentColor; }

/**
 * Editor Basic Blocks
 */
#editor p,
#editor blockquote,
#editor h1,
#editor h2,
#editor h3,
#editor h4,
#editor h5,
#editor h6,
#editor img {
  margin: 1em 0;
  box-shadow: inset 0px 0px 0px 0px #e0e5e9;
  transition: all .2s ease; }

#editor h2 {
  font-weight: 900;
  font-size: 28px; }

#editor blockquote {
  font-size: 20px;
  border-left: 4px solid black;
  padding-left: 1em;
  font-style: italic; }

#editor section:focus {
  outline: none; }

#editor figure {
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*transition: margin 0.5s, width 0.5s;*/ }

#editor figure.aligncenter {
  margin-left: auto;
  margin-right: auto; }

#editor figure.alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
  width: 50%; }

#editor figure.alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
  width: 50%; }

#editor figure.alignfull {
  margin-left: -100px;
  margin-right: -100px;
  width: calc( 100% + 200px); }

#editor figure.alignfull figcaption {
  margin-left: 0.5em;
  margin-right: 0.5em; }

#editor figure.alignfull > figcaption {
  margin-left: 100px;
  margin-right: 100px; }

#editor figure.alignleft,
#editor figure.alignright {
  clear: none; }

#editor figcaption {
  margin-top: 0.5em;
  color: #86909b;
  font-size: 0.9em;
  font-style: italic; }

#editor figure img,
#editor figure iframe {
  display: block;
  margin: 0 auto; }

#editor pre {
  overflow: auto; }

#editor hr {
  border: none;
  font-size: 36px;
  margin: 1em 0; }

#editor hr:before {
  content: '· · ·';
  display: block;
  text-align: center; }

#editor blockquote {
  margin: 2em; }

#editor blockquote footer {
  color: #86909b;
  font-size: 0.9em;
  font-style: normal;
  margin-left: 1.3em;
  position: relative; }

#editor blockquote footer:after {
  content: '— ';
  position: absolute;
  left: -1.3em;
  top: 0; }

#editor table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }

#editor table {
  width: 100%; }

#editor td,
#editor th {
  padding: 0.5em;
  border: 1px solid currentColor; }

#editor:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

pre.debug {
  position: fixed;
  bottom: 0;
  background: #272822;
  color: #F8F8F2;
  z-index: 1;
  left: 0;
  right: 0;
  overflow: auto;
  margin: 0;
  padding: 20px;
  height: 25vh;
  white-space: pre-wrap; }
#editor img[data-mce-selected],
#editor hr[data-mce-selected] {
  outline: none; }

#editor img::selection {
  background-color: transparent; }

.toolbar,
.toolbar > *,
.block-toolbar,
.block-toolbar > *,
.block-toolbar button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  color: inherit;
  cursor: inherit;
  direction: ltr;
  float: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: normal;
  height: auto;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  max-width: none;
  outline: 0;
  padding: 0;
  position: static;
  -webkit-tap-highlight-color: transparent;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  transition: none;
  -webkit-transition: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto; }

.mce-tooltip {
  display: none; }

.block-toolbar button,
.toolbar button,
.mce-btn button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.block-toolbar,
.toolbar,
.mce-inline-toolbar-grp {
  position: absolute; }

.block-toolbar button,
.toolbar button,
.mce-inline-toolbar-grp .mce-btn {
  padding: 5px;
  position: relative;
  display: inline-block;
  background: none;
  color: #12181e;
  min-width: 26px;
  height: 26px; }

.block-toolbar button:hover,
.mce-inline-toolbar-grp .mce-btn:hover,
.mce-inline-toolbar-grp .mce-btn:focus {
  background-color: #f0f2f4; }

.block-toolbar button.is-active,
.block-toolbar button:active,
.mce-inline-toolbar-grp .mce-btn.is-active,
.mce-inline-toolbar-grp .mce-btn:active {
  background-color: #e0e5e9; }

/*.mce-inline-toolbar-grp .mce-btn button {
	padding: 1px;
	display: block;
	width: 26px;
	height: 26px;
}*/
svg.gridicon {
  width: 24px;
  height: 24px;
  fill: #12181e;
  /*display: block;*/
  margin: 1px; }

.toolbar svg {
  display: block; }

.toolbar button[disabled] svg,
.mce-inline-toolbar-grp .mce-btn.mce-disabled svg {
  fill: #e0e5e9; }

.mce-inline-toolbar-grp .mce-btn.mce-primary {
  background: #0085ba; }

.mce-inline-toolbar-grp .mce-btn.mce-primary .mce-txt,
.mce-inline-toolbar-grp .mce-btn.mce-primary .mce-ico {
  color: #fff; }

.mce-inline-toolbar-grp .mce-btn.mce-primary svg {
  fill: #fff; }

.block-toolbar span {
  margin: 1px;
  display: inline-block;
  line-height: 24px;
  overflow: hidden; }

.block-toolbar span.level,
.mce-btn .mce-txt {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  vertical-align: bottom;
  width: 6px; }

.mce-btn-has-text svg.gridicons-heading {
  margin: 0 -4px 0 -2px; }

.mce-btn.mce-disabled.mce-btn-has-text {
  display: none; }

.mce-btn select {
  width: 26px;
  padding: 0;
  border: 0;
  height: 24px;
  opacity: 0;
  -webkit-appearance: none;
  position: absolute;
  top: 0; }

.mce-btn.mce-remove-formatting button {
  position: relative; }

.mce-remove-formatting button:before {
  content: '';
  height: 2px;
  width: 32px;
  background-color: currentColor;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  overflow: hidden;
  transform: rotate(45deg);
  transform-origin: top left; }

.mce-gridicons-rotate svg {
  transform: rotate(90deg); }

.block-toolbar .button-group,
.insert-menu,
div.mce-btn-group {
  background-color: #fff;
  border: 1px solid #e1e6ea;
  box-shadow: 0px 3px 20px rgba(18, 24, 30, 0.1), 0px 1px 3px rgba(18, 24, 30, 0.1);
  box-sizing: border-box;
  margin-right: 8px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  float: left; }

div.wp-link-preview {
  float: left;
  max-width: 694px;
  overflow: hidden;
  text-overflow: ellipsis; }

div.wp-link-preview a {
  display: block;
  color: #12181e;
  font-size: 16px;
  padding: 9px;
  text-decoration: underline;
  cursor: pointer; }

div.wp-link-input {
  float: left;
  max-width: 694px; }

div.wp-link-input input {
  font-size: 16px;
  width: 300px;
  padding: 9px;
  color: #12181e; }

@media screen and (max-width: 782px) {
  div.wp-link-preview {
    margin: 8px 0 8px 5px;
    max-width: 70%;
    max-width: -webkit-calc(100% - 86px);
    max-width: calc(100% - 86px); } }

div.block-toolbar .mce-btn-group {
  border: none;
  background: none;
  box-shadow: none; }

.toolbar button.move-up,
.toolbar button.move-down {
  display: block; }

.toolbar button.move-up,
.toolbar button.move-down {
  padding-top: 0;
  padding-bottom: 0; }

.toolbar {
  margin-top: -6px; }

.block-outline {
  display: block;
  position: absolute;
  pointer-events: none; }

.mce-drag-container {
  opacity: 1 !important;
  outline: 2px solid #e0e5e9;
  outline-offset: 8px;
  background: #fff;
  box-shadow: 0 0 0 8px #fff, 0px 13px 40px rgba(18, 24, 30, 0.1), 0px 11px 23px rgba(18, 24, 30, 0.1); }

.block-outline:before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 2px solid #e0e5e9; }

.block-outline-hover:before {
  border: none;
  border-left: 2px solid #e0e5e9; }

.block-outline-handle {
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  pointer-events: all;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.block-outline-handle-left {
  left: -20px; }

.block-outline-handle-right {
  right: -20px; }

#editor *[data-wp-block-dragging] {
  background: #f0f2f4;
  color: #f0f2f4;
  border-color: #f0f2f4;
  text-shadow: none;
  box-shadow: 0 0 0 10px #f0f2f4; }

#editor *[data-wp-block-dragging] > * {
  opacity: 0; }

.insert-toolbar svg {
  background: #fff;
  border-radius: 12px; }

.insert-menu {
  width: 330px; }

.insert-menu .mce-btn-group {
  margin: 0; }

.insert-menu button {
  float: left;
  width: 154px; }

.insert-menu .insert-separator {
  clear: both;
  background: #f0f2f4;
  padding: 4px;
  text-transform: uppercase; }

.mce-menu-item .mce-txt,
.insert-menu span {
  font-size: 16px;
  text-align: inherit;
  vertical-align: inherit;
  width: auto;
  line-height: 16px;
  width: 120px;
  padding: 4px;
  display: inline-block; }

.insert-menu .mce-btn-has-text svg.gridicons-heading {
  margin: 0; }

#editor .wp-blocks-placeholder {
  padding: 50px 0;
  background: #f0f2f4;
  text-align: center; }

#editor .wp-blocks-placeholder svg {
  display: block;
  margin: 0 auto 20px; }

.mce-floatpanel,
.select-panel {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e1e6ea;
  box-shadow: 0px 3px 20px rgba(18, 24, 30, 0.1), 0px 1px 3px rgba(18, 24, 30, 0.1);
  margin-top: 3px;
  margin-left: -1px; }

.mce-listbox .mce-txt {
  display: none; }

.select-panel button,
.mce-menu-item {
  padding: 6px;
  position: relative;
  background: none;
  color: #12181e;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: block;
  width: calc( 100% - 12px); }

.select-panel button span {
  padding-left: 6px; }

.mce-menu-item.is-active {
  background-color: #e0e5e9; }

.editor-ui > * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*[data-wp-is-empty][placeholder] {
  position: relative; }

*[data-wp-is-empty][placeholder]:before {
  content: attr(placeholder);
  position: absolute;
  opacity: 0.5;
  pointer-events: none; }

figure figcaption[data-wp-is-empty] {
  display: none; }

figure[data-wp-block-selected] figcaption[data-wp-is-empty] {
  display: block; }

a[data-wp-block-selected],
em[data-wp-block-selected],
del[data-wp-block-selected],
strong[data-wp-block-selected] {
  background: #dcf2f8;
  border-radius: 1px;
  box-shadow: 0 0 0 1px #dcf2f8; }

.hidden {
  visibility: hidden; }
